@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.container {

}

.videochat__logo {
	text-align: center;
	color: white;
	background: rgb(57, 60, 67);
	font-family: 'Montserrat', sans-serif;

}

.video-container {
	display: flex;
	flex-direction: column;
}

.videochat {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}



.myId {
	display: flex;
	align-items: center;
	margin: 0 200px;
	border-radius: 5px;
	color: white;
	/*fallback for old browsers */
	background: rgb(57, 60, 67);
	/* Chrome 10-25, Safari 5.1-6 */
	
	/*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 2rem;
	display: grid;
	justify-content: center;
	align-content: center;
}

#filled-basic {

}

.call-button {
	text-align: center;
	margin-top: 2rem;
}

.video-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}

.caller {
	text-align: center;
	color: #fff;
}

body {
	background: black;
}